@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-navy: #0A192F;
  --color-brand-gold: #D4AF37;
  --color-brand-cream: #FDFCFB;
  --color-brand-black: #050505;
}

@layer base {
  html {
    font-size: 16px;
  }
  
  @media (min-width: 640px) {
    html { font-size: 17px; }
  }
  
  @media (min-width: 1024px) {
    html { font-size: 18px; }
  }

  body {
    @apply bg-brand-cream text-brand-navy font-sans antialiased;
  }

  h1 { @apply text-4xl md:text-5xl lg:text-6xl font-serif; }
  h2 { @apply text-3xl md:text-4xl lg:text-5xl font-serif; }
  h3 { @apply text-2xl md:text-3xl lg:text-4xl font-serif; }
  
  p { @apply text-sm md:text-base leading-relaxed; }
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
